BODY {
	FONT-SIZE: small; BACKGROUND: url(images/plusgreen/bg.png) #ffffff repeat-x; COLOR: #000000; FONT-FAMILY: Verdana
}
A:link {
	COLOR: #3a8325; TEXT-DECORATION: none
}
A:visited {
	COLOR: #3a8325; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #000000; TEXT-DECORATION: underline
}
#container {
	BORDER-RIGHT: #257634 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #257634 0px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: auto; BORDER-LEFT: #257634 0px solid; WIDTH: 98%; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #257634 0px solid
}
#content {
	WIDTH: auto! important
}
.menu UL {
	BORDER-RIGHT: #257634 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #257634 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(images/plusgreen/thead_bg.gif) #4cac31 repeat-x; PADDING-BOTTOM: 4px; BORDER-LEFT: #257634 1px solid; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #257634 1px solid; TEXT-ALIGN: right
}
.menu UL A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.menu UL A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.menu UL A:hover {
	BACKGROUND: url(images/plusgreen/tcat_bg.gif) #9dd983 repeat-x 50% top; COLOR: #ffffff
}
.menu UL A:active {
	BACKGROUND: url(images/plusgreen/tcat_bg.gif) #9dd983 repeat-x 50% top; COLOR: #ffffff
}
#panel {
	BORDER-RIGHT: #257634 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #257634 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 11px; BACKGROUND: url(images/plusgreen/tdbg1.gif) #ffffff repeat-x; PADDING-BOTTOM: 4px; BORDER-LEFT: #257634 1px solid; COLOR: #000000; PADDING-TOP: 4px; BORDER-BOTTOM: #257634 1px solid
}
TABLE {
	FONT-SIZE: small; COLOR: #000000; FONT-FAMILY: Verdana
}
.tborder {
	BACKGROUND: #257634; MARGIN: auto; WIDTH: 100%
}
.thead {
	BACKGROUND: url(images/plusgreen/thead_bg.gif) #4cac31; COLOR: #ffffff
}
.thead A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.thead A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.thead A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.thead A:active {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.tcat {
	FONT-SIZE: 11px; BACKGROUND: url(images/plusgreen/tcat_bg.gif) #9dd983 repeat-x 50% top; COLOR: #555555
}
.tcat A:link {
	COLOR: #000000
}
.tcat A:visited {
	COLOR: #000000
}
.tcat A:hover {
	COLOR: #000000
}
.tcat A:active {
	COLOR: #000000
}
.trow1 {
	BACKGROUND: url(images/plusgreen/tdbg1.gif) #f3fbef repeat-x 50% top
}
.trow2 {
	BACKGROUND: url(images/plusgreen/tdbg2.gif) #ffffff repeat-x 50% top
}
.trow_shaded {
	BACKGROUND: #ffffff
}
.trow_sep {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(images/plusgreen/tcat_bg.gif) #3fb2e6 repeat-x 50% top; COLOR: #555555
}
.tfoot {
	BACKGROUND: url(images/plusgreen/thead_bg.gif) #4cac31 repeat-x 50% top; COLOR: #ffffff
}
.tfoot A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.tfoot A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.tfoot A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.tfoot A:active {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.bottommenu {
	BORDER-RIGHT: #257634 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #257634 1px solid; PADDING-LEFT: 4px; BACKGROUND: url(images/plusgreen/tdbg1.gif) #ffffff repeat-x; PADDING-BOTTOM: 4px; BORDER-LEFT: #257634 1px solid; COLOR: #000000; PADDING-TOP: 4px; BORDER-BOTTOM: #257634 1px solid
}
.navigation {
	FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: #000000; FONT-FAMILY: Verdana
}
.navigation A:link {
	TEXT-DECORATION: none
}
.navigation A:visited {
	TEXT-DECORATION: none
}
.navigation A:hover {
	TEXT-DECORATION: none
}
.navigation A:active {
	TEXT-DECORATION: none
}
.navigation .active {
	FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: #000000; FONT-FAMILY: Verdana
}
.smalltext {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana
}
.largetext {
	FONT-WEIGHT: bold; FONT-SIZE: medium; FONT-FAMILY: Verdana, Arial, sans-serif
}
TEXTAREA {
	FONT-SIZE: small; COLOR: #000000; FONT-FAMILY: Verdana
}
INPUT {
	FONT-SIZE: small; COLOR: #000000; FONT-FAMILY: Verdana
}
SELECT {
	FONT-SIZE: small; COLOR: #000000; FONT-FAMILY: Verdana
}
OBJECT {
	FONT-SIZE: small; COLOR: #000000; FONT-FAMILY: Verdana
}
.clear {
	CLEAR: both
}
.hidden {
	DISPLAY: none; FLOAT: none; WIDTH: 1%
}
.menu UL {
	MARGIN: 0px; LIST-STYLE-TYPE: none
}
.menu LI {
	DISPLAY: inline; PADDING-LEFT: 5px
}
.menu IMG {
	PADDING-RIGHT: 5px; VERTICAL-ALIGN: top
}
#panel .links {
	FLOAT: right; MARGIN: 0px
}
.expcolimage {
	FLOAT: right; VERTICAL-ALIGN: middle; WIDTH: auto
}
IMG.attachment {
	BORDER-RIGHT: #e9e5d7 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #e9e5d7 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #e9e5d7 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #e9e5d7 1px solid
}
.pagenav {
	FONT-WEIGHT: bold
}
.pagenavbit {
	PADDING-LEFT: 3px
}
.pagenavbit A {
	TEXT-DECORATION: none
}
.pagenavcurrent {
	PADDING-LEFT: 3px; FONT-WEIGHT: bold
}
HR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #000000; HEIGHT: 1px; BACKGROUND-COLOR: #000000; BORDER-RIGHT-WIDTH: 0px
}
#copyright {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: x-small Verdana, Arial, Sans-Serif; PADDING-TOP: 10px
}
#debug {
	MARGIN-TOP: 0px; FLOAT: right; TEXT-ALIGN: right
}
.quote_header {
	BORDER-RIGHT: #000 1px dashed; PADDING-RIGHT: 4px; BORDER-TOP: #000 1px dashed; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BACKGROUND: #fff; PADDING-BOTTOM: 4px; MARGIN: 8px auto 0px; BORDER-LEFT: #000 1px dashed; COLOR: #000; PADDING-TOP: 4px; BORDER-BOTTOM: #000 0px dashed
}
.quote_body {
	BORDER-RIGHT: #000 1px dashed; PADDING-RIGHT: 4px; BORDER-TOP: #000 0px dashed; PADDING-LEFT: 4px; BACKGROUND: #fff; PADDING-BOTTOM: 4px; MARGIN: 0px auto 8px; BORDER-LEFT: #000 1px dashed; COLOR: #000; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px dashed
}
.code_header {
	BORDER-RIGHT: #000 1px dashed; PADDING-RIGHT: 4px; BORDER-TOP: #000 1px dashed; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BACKGROUND: #fff; PADDING-BOTTOM: 4px; MARGIN: 8px auto 0px; BORDER-LEFT: #000 1px dashed; COLOR: #000; PADDING-TOP: 4px; BORDER-BOTTOM: #000 0px dashed
}
.code_body {
	BORDER-RIGHT: #000 1px dashed; PADDING-RIGHT: 4px; BORDER-TOP: #000 0px dashed; PADDING-LEFT: 4px; BACKGROUND: #fff; PADDING-BOTTOM: 4px; MARGIN: 0px auto 8px; BORDER-LEFT: #000 1px dashed; COLOR: #000; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px dashed; FONT-FAMILY: monospace
}
.usercpnav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: inside; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.usercpnav LI {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; FONT-FAMILY: Verdana
}
.usercpnav .pmfolders {
	
}
.separator {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1px; PADDING-BOTTOM: 0px; MARGIN: 5px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 0px
}
.quote_header {
	BORDER-RIGHT: #9dd983 1px dashed; PADDING-RIGHT: 4px; BORDER-TOP: #60b645 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BACKGROUND: white; PADDING-BOTTOM: 4px; MARGIN-LEFT: 20px; BORDER-LEFT: #60b645 4px solid; COLOR: #60b645; PADDING-TOP: 4px
}
.quote_body {
	BORDER-RIGHT: #9dd983 1px dashed; PADDING-RIGHT: 4px; PADDING-LEFT: 6px; BACKGROUND: #ffffff; PADDING-BOTTOM: 6px; MARGIN-LEFT: 20px; BORDER-LEFT: #9dd983 1px solid; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #9dd983 1px dashed
}
.code_header {
	BORDER-RIGHT: #92c2f5 1px dashed; PADDING-RIGHT: 4px; BORDER-TOP: #4982dc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BACKGROUND: #f5f9ff; PADDING-BOTTOM: 4px; MARGIN-LEFT: 20px; BORDER-LEFT: #4982dc 4px solid; COLOR: #4982dc; PADDING-TOP: 4px
}
.code_body {
	BORDER-RIGHT: #92c2f5 1px dashed; PADDING-RIGHT: 4px; PADDING-LEFT: 6px; BACKGROUND: #f5f9ff; PADDING-BOTTOM: 6px; MARGIN-LEFT: 20px; BORDER-LEFT: #92c2f5 1px solid; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #92c2f5 1px dashed; FONT-FAMILY: monospace
}
